<div class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading">紀錄一下今天的 ORID 吧！ </h4>
  <br>
  <%= link_to '立即新增', new_orid_path, class: 'btn btn-primary' %>
  <%= link_to '我的所有ORID', account_orids_path, class: 'btn btn-warning' %>
</div>
