<h2>使用者列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>發表數量</th>
      <th>建立時間</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.orids.count %>
        </td>
        <td>
          <%= user.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
